<style>
    .ui-dialog {
        z-index: 1000000000;
        top: 0;
        left: 0;
        margin: auto;
        position: fixed;
        max-width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

        .ui-dialog .ui-dialog-content {
            flex: 1;
        }
</style>
<div id="basicDialog" style="display:none;z-index:10000" title="Title Here">
    <p>Message here.</p>
</div>

<div id="promptDialog" style="display:none;z-index:10000" title="Title Here">
    <p>Message here.</p>
    <input type="text" />
</div>

<div id="iframeDialog" style="display:none;z-index:10000;margin:0;padding:0" title="Title Here">
    <iframe src="about:blank" style="border:0"></iframe>
</div>